.button {
  background-color: #B7EFC5;
  color: var(--primaryColor);
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  text-transform: uppercase;
  border-radius: 90px;
  border: 2px solid var(--primaryColor);
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;
}

.button.is-secondary {
  background-color: unset;
  border: 2px solid var(--primaryColor);
}
