.coment {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.coment-top p {
  font: var(--coment);
  text-align: center;

}

.coment-bottom p {
  font: var(--headLine5);
  text-align: center;
}

.coment-arrow img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .coment {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
  .coment-top p {
    margin: 0;
  }
  .coment-bottom p {
    margin: 0;
  }
}