/* elementos bases que no sean flexibles para realizar un margin collaction */
.footer-content {
  font: var(--body1);
  text-align: center;
  align-items: center;
}

.footer-logo {
  display: none;
}

.footer .social {
  justify-content: center;
  padding: 0;
}

  .footer-copyrigth{
    color: var(--tertiaryColor);
  }

@media screen and (min-width: 768px) {
  .footer-logo {
    display: block;
  }
  .footer-content{
    display: flex;
    justify-content: space-between;
  }
  .footer .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footer-copyrigth{
    display: flex;
    gap: 8px;
    color: var(--tertiaryColor);
  }
  .footer {
    margin-block-start: 40px;
    margin-block-end: 40px;
  }
}