.project {
  /* border: 1px solid red; */
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.project-image img {
  max-inline-size: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-description p {
  font: var(--body1);
  color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  .project-description {
    flex: 1;
    color: var(--primaryColor);
  }

  /* odd significa que me selecciona solo les elementos impares */
  .project-image{
    order: 2;
    flex: 1;
    text-align: center;
  }
}